*{
	box-sizing: border-box;
}

body{
	background-image: url('images/bg.png');
	background-color: black;
	font-family: "trajan-pro-3";
	padding-bottom: 100px;


	  background-color: #333333;
	  /* transition on change */
	  opacity: 1;
	  transition: 3s opacity;

}

body.blackScreen {
  opacity: 0;
  transition: none;
}

.v{
	width: 25px;
}

#vline{
	transform: translateY(-29px);
}

a{
	text-decoration: none;	
}

a:visited{
  color:#D6A956;
}

li, p{
	color: #B6BEC2;
}

h2{
	color:#D3DEE4;
}

li{
	line-height: 30px;
	padding-top: 20px;
	transition: all 2s;
}

ul{
	list-style: none;
	padding: 0;
}

.heading{
	font-size: 2.5rem;
	transition: all 2s;
}

.title{
	font-size: 3rem;
	margin-bottom: 0;
	color: #D6A956;
	transition: all 2s;
}

.support{
	margin-top: 0;
	font-size: 1.2rem;
	color: #9DADB6;
	padding-top: 35px;
}

.disc li{
	color: #D6A956;
	font-size: 1.2rem;
}

.wrapper{
	text-align: center;
}
/*//---------------------------------------------------//*/

.enter{
	width: 60%;
	margin: auto;
	transition: all 1s ease-in-out;

}

.orbit{
	padding-top: 8rem;
	max-width: 100%;
}

button{
	color: #D3DEE4;
	text-align: center;
	font-size: 1.8rem;
	border: none;
	background-color: transparent;
	padding: 5px;
	transition: all 1s ease-in-out;
	font-family: "trajan-pro-3";
	letter-spacing: 3px;
	cursor: pointer;
}

.textbutton{
	text-align: center;
}

@keyframes linegrow{
	from{
		transform: scaleX(1);

	}
	to{
		transform: scaleX(1.5);
	}
}

#vline{
	
}

@keyframes circle {
	from {
		transform: rotate(0deg)
		           translate(-150px)
		           rotate(-360deg)
		           scale(.1);
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
		           rotate(-360deg)
		           scale(.1);
	}
}

@keyframes rotate {
	from {

		transform: rotate(0deg);
	}
	to {

		transform: rotate(360deg)

	}
}

.earthpath{
	animation: rotate 45s linear infinite;
	transform-origin: 50% 50%;
}

.rocket-parts{
	transform-origin: 160px 160px;
	animation: circle 13s infinite linear;
	padding: 5px;
}

.enter:hover .rings{
	stroke: #D6A956;
	r: 35%;
}

.enter:hover .button{
	color: #D6A956;
}

.button:hover {
	color: #D6A956;
}

.rings{
	transition: all 1s ease-in-out;
}

.expl{
	cursor: pointer;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #D6A956;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.hamburger{
	position: fixed;
	bottom: 20%;
	left: 50%;
	margin-left: -18px;
}

.navline{
	position: fixed;
	bottom: 28%;
	left: 0;
}

.navline2{
	position: fixed;
	top: 13%;
	left: 0;
}

.v{
	position: fixed;

}

.earth{
	position: fixed;
	width: 100%;
	height: 1px;
}

.worldsvg{
	width: 100%;
	height: 124vh;
	transform: scaleY(-.6);
	transition: all 2s;

}

.music{
	font-size: 1.2rem;
	text-align: center;
	margin: auto;
}

.hide{
	opacity: 0;
}

#soundicon{
	width: 36px;
	height: 36px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media screen and (max-width: 500px){
	section{
	height: 540px;
	padding-top: 50px;


}



}


/*//------------------------Non-mobile-----------------------------//*/


@media screen and (min-width: 500px){
	.hamburger{
		display: none;
	}

	.v{
	position: relative;
	}

	.navline2 , .navline{
		position: relative;
	}

	body{
		padding-bottom: 400px;
	}

	.support{
		padding-top: 0;
	}

	.heading{
		font-size: 2.9rem;
		margin-bottom: 0;
	}
}


@media screen and (min-width: 768px){
	
	.enter{
		max-width: 45%;
	}

	.support li{
		display: inline;
		padding: 0 25px;
	}

	.support{
		display: table;
		margin: auto;
	}

	.title{
		margin: 0;
	}

	.heading{
		font-size: 4rem;
	}

	.disc li , .expl li{
		line-height: 1.2rem;
	}


}


@media screen and (max-width: 768px){
	.worldsvg{
		height: 143vh;
	}
}

@media screen and (max-width: 460px){
	.worldsvg{
		height: 163vh;
	}
}
@media screen and (min-width: 960px){
	
	.enter{
		max-width: 30%;
	}

}
